<a href="https://colab.research.google.com/github/Sindhuhar/code_python/blob/main/01_strings_to_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Strings in Python

###How to Create a String
Strings are usually created in one of three ways. You can use single, double or triple quotes. Let’s take a look!

In [1]:
my_string = "Welcome to python"
another_string = 'The bright red fox jumped the fence.'
a_long_string = '''this is a multi-line string. It covers more than one line'''
triple_string = """Here's another way to embed "quotes" in a string"""

print(my_string)
print(another_string)
print(a_long_string)
print(triple_string)

Welcome to python
The bright red fox jumped the fence.
this is a multi-line string. It covers more than one line
Here's another way to embed "quotes" in a string

The code above demonstrates how you could put single quotes or double quotes into a string. There’s actually one other way to create a string and that is by using the str method. Here’s how it works:

In [2]:
my_number = 123
my_string = str(my_number)

print(my_number)
print(my_string)

123
123

It should be noted that a string is one of Python immutable types. What this means is that you cannot change a string’s content after creation. Let’s try to change one to see what happens:

In [ ]:
# my_string = "abc"
# my_string[0] = "d"
# if we uncomment the above code will get the following error.
# TypeError: 'str' object does not support item assignment

In [3]:
#  that by assigning a new string to the same variable that you’ve changed the string.

my_string = "abc"
print(id(my_string))

my_string = "def"
print(id(my_string))

my_string = my_string + "ghi"
print(id(my_string))

# By checking the id of the object, we can determine that any time we assign a new value to the variable, its identity changes.

9843040
133517260339056
133516096201136

Concatenation is a big word that means to combine or add two things together. In this case, we want to know how to add two strings together. As you might suspect, this operation is very easy in Python:

In [4]:
string_one = "My dog ate "
string_two = "my homework!"
string_three = string_one + string_two

print(string_one)
print(string_two)
print(string_three)

My dog ate
my homework!
My dog ate my homework!

In [5]:
my_string = "This is a string!"

Now you want to cause this string to be entirely in uppercase. To do that, all you need to do is call its upper() method, like this:

In [6]:
my_string = "This is a string!"
print(my_string.upper())

# Or more concisely
print("This is a string!".upper())

THIS IS A STRING!
THIS IS A STRING!

There are many other string methods. For example, if you wanted everything to be lowercase, you would use the lower() method. If you wanted to remove all the leading and trailing white space, you would use strip(). To get a list of all the string methods, you can use Python’s built-in function dir. Let’s look at this in action

In [7]:
my_string = "This is a string!"
print(dir(my_string))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

If you’d like to know what one of them does, just ask for help. For example, say you want to learn what capitalize is for. To find out, you would type

In [8]:
my_string = "This is a string!"
print(help(my_string.capitalize))

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

None

In [9]:
my_string = "This is a string!"
print(type(my_string)) # <class 'str'>

<class 'str'>

###String Slicing

In [10]:
my_string = "I like Python!"

Each character in a string can be accessed using slicing. For example, if I want to grab just the first character, I could do this:

In [11]:
my_string = "I like Python!"
print(my_string[0:1])

I

In [12]:
my_string = "I like Python!"

print(my_string[:1])   # 'I'
print(my_string[0:12]) # 'I like Pytho'
print(my_string[0:13]) # 'I like Python'
print(my_string[0:14]) # 'I like Python!'
print(my_string[0:-5]) # 'I like Py'
print(my_string[:])    # 'I like Python!'
print(my_string[2:])

I
I like Pytho
I like Python
I like Python!
I like Py
I like Python!
like Python!

In [14]:
# we can also access individual characters in a string via indexing. Here is an example:

my_string = "I like Python!"
print(my_string[0])
print(my_string[2])
print(my_string[7])
#print(my_string[100]) # IndexError: string index out of range

I
l
P

String Formatting

In [16]:
name = "Python"
print(f"I like {name} Programming")

I like Python Programming

##Lists

###Creating a list

A Python list is similar to an array in other languages. In Python, an empty list can be created in the following ways.

In [17]:
my_list = []
my_list = list()

s you can see, you can create the list using square brackets or by using the Python built-in, list. A list contains a list of elements, such as strings, integers, objects or a mixture of types. Let’s take a look at some examples:

In [18]:
my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]
my_list3 = ["a", 1, "Python", 5]

The first list has 3 integers, the second has 3 strings and the third has a mixture. You can also create lists of lists like this:

In [20]:
my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]

my_nested_list = [my_list, my_list2]
print(my_nested_list)

[[1, 2, 3], ['a', 'b', 'c']]

In [22]:
#  combine two lists together

combo_list = []
one_list = [4, 5]
combo_list.extend(one_list)
print(combo_list)

[4, 5]

A slightly easier way is to just add two lists together

In [23]:
my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]

combo_list = my_list + my_list2
print(combo_list)

[1, 2, 3, 'a', 'b', 'c']

In [24]:
# sort a list
alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list.sort()
print(alpha_list)

[2, 23, 34, 67, 88, 100]

In [25]:
# you can slice a list

alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list.sort()
print(alpha_list[0:3])

[2, 23, 34]

##Tuples

A tuple is similar to a list, but you create them with parentheses instead of square brackets. You can also use the tuple built-in. The main difference is that a tuple is immutable while the list is mutable

In [27]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0:3])

# using the tuple keyword
another_tuple = tuple()

abc = tuple([1, 2, 3])
print(abc)

(1, 2, 3)
(1, 2, 3)

We can change or cast an item from one data type to another. In this case, we cast a list into a tuple. If you want to turn the abc tuple back into a list,

In [28]:
abc = tuple([1, 2, 3])
abc_list = list(abc)
print(abc_list)

[1, 2, 3]

###Dictionaries

They are indexed with keys, which can be any immutable type. For example, a string or number can be a key. You need to be aware that a dictionary is an unordered set of key:value pairs and the keys must be unique. You can get a list of keys by calling a dictionary instance’s keys method.

In [29]:
# create a dictionary

my_dict = {}
anothe_dict = dict()
my_other_dict = {"one" : 1, "two" : 2, "three" : 3}

print(my_other_dict)

{'one': 1, 'two': 2, 'three': 3}

In [30]:
# access a value in a dictionary.

my_other_dict = {"one":1, "two":2, "three":3}
print(my_other_dict["one"]) # 1

my_dict = {"name":"Mike", "address":"123 Happy Way"}
print(my_dict["name"])

1
Mike

In [31]:
# if a key is in a dictionary or not:

my_dict = {"name":"Mike", "address":"123 Happy Way"}
print("name" in my_dict)
print ("state" in my_dict)

True
False

if the key is in the dictionary, Python returns a Boolean True. Otherwise it returns a Boolean False.

If you need to get a listing of all the keys in a dictionary, then you do this:

In [32]:
my_dict = {"name":"Mike", "address":"123 Happy Way"}
print(my_dict.keys())

dict_keys(['name', 'address'])

##conditional statements

###The if statement

In [33]:
if 2 > 1:
    print("This is a True statement!")

This is a True statement!

This conditional tests the “truthfulness” of the following statement: 2 > 1. Since this statement evaluates to True, it will cause the last line in the example to print to the screen or standard out (stdout).

In [34]:
# another example

var1 = 1
var2 = 3
if var1 > var2:
    print("This is also True")

In this one, we compare two variables that translate to the question: Is 1 > 3? Obviously one is not greater than three, so it doesn’t print anything. But what is we wanted it to print something? That’s where the else statement comes in. Let’s modify the conditional to add that piece:

In [35]:
var1 = 1
var2 = 3

if var1 > var2:
    print("This is also True")
else:
    print("That was False!")

That was False!

###Boolean Operations



*   or means that if any conditional that is “ored” together is True, then the following statement runs
*   and means that all statements must be True for the following statement to run
*   not means that if the conditional evaluates to False, it is True

In [36]:
x = 10
y = 20

if x < 10 or y > 15:
    print("This statement was True!")

This statement was True!

In [37]:
# Let’s take a look at how and works

x = 10
y = 10
if x == 10 and y == 15:
    print("This statement was True")
else:
    print("The statement was False!")

The statement was False!

In [38]:
# the not operation

my_list = [1, 2, 3, 4]
x = 10
if x not in my_list:
    print("'x' is not in the list, so this is True!")

'x' is not in the list, so this is True!

In [39]:
# Another way to test for not is by using the exclamation point, like this:

x = 10
if x != 11:
    print("x is not equal to 11!")

x is not equal to 11!

If you want to, you can combine the not operation with the other two to create more complex conditional statements. Here is a simple example:

In [1]:
my_list = [1, 2, 3, 4]
x = 10
z = 11
if x not in my_list and z != 10:
    print("This is True!")

This is True!

##Introduction to Loops



*   the for loop and
*   the while loop

###The for loop

In [2]:
# Let’s use Python’s builtin range function. The range function will create a list that is n in length.

print(range(5))

range(0, 5)

As you can see, the range function above took an integer and returned a range object. The range function also accepts a beginning value, an end value and a step value. Here are two more examples:

In [3]:
print(range(5,10))
print(list(range(1, 10, 2)))

range(5, 10)
[1, 3, 5, 7, 9]

The first example demonstrates that you can pass a beginning and end value and the range function will return the numbers from the beginning value up to but not including the end value. So in the case of 5-10, we get 5-9. The second example shows how to use the list function to cause the range function to return every second element between 1 and 10. So it starts with one, skips two, etc. Now you’re probably wondering what this has to do with loops. Well one easy way to show how a loop works is if we use the range function! Take a look:

In [4]:
for number in range(5):
    print(number)

0
1
2
3
4

In [5]:
for number in [0, 1, 2, 3, 4]:
    print(number)

0
1
2
3
4

The range function just makes it a little bit smaller. The for loop can loop over any kind of Python iterator. We’ve already seen how it can iterate over a list. Let’s see if it can also iterate over a dictionary.

In [7]:
a_dict = {"one":1, "two":2, "three":3}
for key in a_dict:
       print(key)

one
two
three

When you use a for loop with a dictionary, you’ll see that it automatically loops over the keys. We didn’t have to say for key in a_dict.keys()

Now we’re ready to make things a little bit more interesting. We are going to loop over a range, but we want to print out only the even numbers. To do this, we want to use a conditional statement instead of using the range’s step parameter. Here’s one way you could do this:

In [8]:
for number in range(10):
    if number % 2 == 0:
        print(number)

0
2
4
6
8

###The while Loop

The while loop is also used to repeat sections of code, but instead of looping n number of times, it will only loop until a specific condition is met. Let’s look at a very simple example:

In [9]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

 If you remove the piece where we increment i’s value, then you’ll end up with an infinite loop. This is usually a bad thing. Infinite loops are to be avoided and are known as logic errors.










 There is another way to break out of a loop. It is by using the break builtin. Let’s see how that works:

In [10]:
i = 0
while i < 10:
    print(i)
    if i == 5:
        break
    i += 1

0
1
2
3
4
5

The break builtin is known as a flow control tool. There is another one called continue that is used to basically skip an iteration or continue with the next iteration. Here’s one way to use it:

In [11]:
i = 0

while i < 10:
    if i == 3:
        i += 1
        continue

    print(i)

    if i == 5:
        break
    i += 1

0
1
2
4
5

The else statement in loops only executes if the loop completes successfully. The primary use of the else statement is for searching for items:

In [12]:
my_list = [1, 2, 3, 4, 5]

for i in my_list:
    if i == 3:
        print("Item found!")
        break
    print(i)
else:
    print("Item not found!")

1
2
Item found!

##Python Comprehensions

###List comprehensions

A list comprehension is basically a one line for loop that produces a Python list data structure. Here’s a simple example:

In [13]:
x = [i for i in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [14]:
x = ['1', '2', '3', '4', '5']
y = [int(i) for i in x]
print(y)

[1, 2, 3, 4, 5]

 I have also had to loop over a list of strings and call a string method, such as strip on them because they had all kinds of leading or ending white space

In [15]:
myStringList = [
  '    Hello how are you?',
  'I\'m good    ',
  '    I\'m good too   ']
myStrings = [s.strip() for s in myStringList]
print(myStrings)

['Hello how are you?', "I'm good", "I'm good too"]

There are also occasions where one needs to create a nested list comprehension. One reason to do that is to flatten multiple lists into one. This example comes from the Python documentation:

In [16]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
flatVec = [num for elem in vec for num in elem]
print(flatVec)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

###Dictionary comprehensions

In [17]:
print( {i: str(i) for i in range(5)} )

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4'}

This is a pretty straightforward comprehension. Basically it is creating an integer key and string value for each item in the range. Now you may be wondering how you could use a dictionary comprehension in real life

In [18]:
my_dict = {1:"dog", 2:"cat", 3:"hamster"}
print( {value:key for key, value in my_dict.items()} )

{'dog': 1, 'cat': 2, 'hamster': 3}

This will only work if the dictionary values are of a non-mutable type, such as a string. Otherwise you will end up causing an exception to be raised.

A dictionary comprehension can also be useful for creating a table out of class variables and their values.

###Set Comprehensions

Set comprehensions are created in much the same way as dictionary comprehensions. Now a Python set is much like a mathematical set in that it doesn’t have any repeated elements. You can create a normal set like this

In [19]:
my_list = [1, 2, 2, 3, 4, 5, 5, 7, 8]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 7, 8}

As you can see from the example above, the call to set has removed the duplicates from the list. Now let’s rewrite this code to use a set comprehension:

In [20]:
my_list = [1, 2, 2, 3, 4, 5, 5, 7, 8]
my_set = {x for x in my_list}
print(my_set)

{1, 2, 3, 4, 5, 7, 8}

##Introduction to Exception Handling

What do you do when something bad happens in your program? Let’s say you try to open a file, but you typed in the wrong path or you ask the user for information and they type in some garbage. You don’t want your program to crash, so you implement exception handling.


*   Exception (this is what almost all the others are built off of)
*   AttributeError - Raised when an attribute reference or assignment fails.

*   IOError - Raised when an I/O operation (such as a print statement, the built-in open() function or a method of a file object) fails for an I/O-related reason, e.g., “file not found” or “disk full”.
*   ImportError - Raised when an import statement fails to find the module definition or when a from … import fails to find a name that is to be imported.

*   IndexError - Raised when a sequence subscript is out of range.
*   KeyError - Raised when a mapping (dictionary) key is not found in the set of existing keys.

*   KeyboardInterrupt - Raised when the user hits the interrupt key (normally Control-C or Delete).
*   NameError - Raised when a local or global name is not found.

*   OSError - Raised when a function returns a system-related error.
*   SyntaxError - Raised when the parser encounters a syntax error.

*   TypeError - Raised when an operation or function is applied to an object of inappropriate type. The associated value is a string giving details about the type mismatch.
*   ValueError - Raised when a built-in operation or function receives an argument that has the right type but an inappropriate value, and the situation is not described by a more precise exception such as IndexError.

*   ZeroDivisionError - Raised when the second argument of a division or modulo operation is zero.

If you think back to elementary math class, you will recall that you cannot divide by zero. In Python, this operation will cause an error, as you can see in the first half of the example. To catch the error, we wrap the operation with a try/except statement.

In [1]:
try:
    1 / 0
except ZeroDivisionError:
    print("You cannot divide by zero!")

You cannot divide by zero!

In [2]:
# Here’s another way to catch the error:

try:
    1 / 0
except:
    print("You cannot divide by zero!")

You cannot divide by zero!

This is not recommended! In Python, this is known as a bare except, which means it will catch any and all exceptions. The reason this is not recommended is that you don’t know which exception you are catching. When you have something like except ZeroDivisionError, you are obviously trying to catch a division by zero error. In the code above, you cannot tell what you are trying to catch.

Let’s take a look at a couple of other examples.

In [3]:
my_dict = {"a":1, "b":2, "c":3}
try:
    value = my_dict["d"]
except KeyError:
    print("That key does not exist!")

my_list = [1, 2, 3, 4, 5]
try:
    my_list[6]
except IndexError:
    print("That index is not in the list!")

That key does not exist!
That index is not in the list!

You can also catch multiple exceptions with a single statement. There are a couple of different ways to do this. Let’s take a look:

In [ ]:
my_dict = {"a":1, "b":2, "c":3}
try:
    value = my_dict["d"]
except IndexError:
    print("This index does not exist!")
except KeyError:
    print("This key is not in the dictionary!")
except:
    print("Some other error occurred!")

Here’s another way to catch multiple exceptions:

In [4]:
my_dict = {"a":1, "b":2, "c":3}

try:
    value = my_dict["d"]
except (IndexError, KeyError):
    print("An IndexError or KeyError occurred!")

An IndexError or KeyError occurred!

##The finally Statement

In [5]:
my_dict = {"a":1, "b":2, "c":3}

try:
    value = my_dict["d"]
except KeyError:
    print("A KeyError occurred!")
finally:
    print("The finally statement has executed!")

A KeyError occurred!
The finally statement has executed!

##try, except, or else!

In [6]:
my_dict = {"a":1, "b":2, "c":3}

try:
    value = my_dict["a"]
except KeyError:
    print("A KeyError occurred!")
else:
    print("No error occurred!")

No error occurred!

In [7]:
my_dict = {"a":1, "b":2, "c":3}

try:
    value = my_dict["a"]
except KeyError:
    print("A KeyError occurred!")
else:
    print("No error occurred!")
finally:
    print("The finally statement ran!")

No error occurred!
The finally statement ran!

##Introduction to File Handling

###How to Read a File

Python has a builtin function called open that we can use to open a file for reading. For our examples in this course, we will use a text file name “test.txt” with the following contents (don’t worry, we’ve already worked with Educative to have these files uploaded to your execution directory):

In [ ]:
handle = open("test.txt")
handle = open(r"py101book/data/test.txt", "r")

The first example will open a file named test.txt in read-only mode. This is the default mode of the open function. Note that we didn’t pass a fully qualified path to the file that we wanted to open in the first example. Python will automatically look in the folder that the script is running in for test.txt. If it doesn’t find it, then you will receive an IOError.

The second example does show a fully qualified path to the file. The above code would run fine on linux machines but what if you want to give a windows style paths. This is how it’s done

In [ ]:
handle = open(r"py101book\data\test.txt", "r")

Put the following lines into a Python script and save it in the same location as your test.txt file:

In [12]:
handle = open("test.txt", "r")
data = handle.read()
print(data)
handle.close()

This is a test!

Let’s spend some time looking at different ways to read files.

In [13]:
handle = open("test.txt", "r")
data = handle.readline() # read just one line
print(data)
handle.close()

This is a test!

If you run this example, it will only read the first line of your text file and print it out. That’s not too useful, so let’s try the file handle’s readlines() method:

In [14]:
handle = open("test.txt", "r")
data = handle.readlines() # read ALL the lines!
print(data)
handle.close()

['This is a test!']

###How To Read Files Piece by Piece

The easiest way to read a file in chunks is to use a loop. First we will learn how to read a file line by line and then we will learn how to read it a kilobyte at a time. We will use a for loop for our first example:

In [15]:
handle = open("test.txt", "r")

for line in handle:
    print(line)

handle.close()

This is a test!

###How to Read a Binary File

In [ ]:
handle = open("test.pdf", "rb")

###Writing Files in Python

In [17]:
handle = open("test.txt", "w")
handle.write("This is a test!")
handle.close()

# Now let's read the file that we just wrote
handle = open("test.txt", "r")
for line in handle:
    print(line)
handle.close()

This is a test!

###Using the with Operator

Python has a neat little builtin called with which you can use to simplify reading and writing files. The with operator creates what is known as a context manager in Python that will automatically close the file for you when you are done processing it. Let’s see how this works:

In [18]:
with open("test.txt") as file_handler:
    for line in file_handler:
        print(line)

This is a test!

In [19]:
handle = open("test.txt")

In [ ]:
with open("test.txt") as file_handler:

##Catching Errors in file handling

Sometimes when you are working with files, bad things happen. The file is locked because some other process is using it or you have some kind of permission error. When this happens, an IOError will probably occur. In this section, we will look at how to catch errors the normal way and how to catch them using the with operator. Hint: the idea is basically the same in both!

In [21]:
file_handler = None
try:
    file_handler = open("test2.txt")
    for line in file_handler:
        print(line)
except IOError:
    print("An IOError has occurred!")
finally:
    if file_handler is not None:
        file_handler.close()

An IOError has occurred!

In the example above, we wrap the usual code inside of a try/except construct. If an error occurs, we print out a message to the screen. Note that we also make sure we close the file using the finally statement. Now we’re ready to look at how we would do this same thing using with:

In [ ]:
try:
    with open("test2.txt") as file_handler:
        for line in file_handler:
            print(line)
except IOError:
    print("An IOError has occurred!")

#Importing python modules

Python provides the import keyword for importing modules. Let’s give it a try:

In [22]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

You have found an “Easter egg” in Python known as the “Zen of Python”. It’s actually a sort of an unofficial best practices for Python. The this module doesn’t actually do anything, but it provided a fun little way to show how to import something. Let’s actually import something we can use, like the math module:

In [23]:
import math
print(math.sqrt(4))

2.0

Here we imported the math module and then we did something kind of new. We called one of its functions, sqrt (i.e. square root). To call a method of an imported module



The math module has many other functions that we can use, such as cos (cosine), factorial, log (logarithm), etc. You can call these functions in much the same way you did sqrt.

Using from to import

You can actually import just the functions you want from a module. Let’s pretend that we want to just import the sqrt function:

In [24]:
from math import sqrt
print(sqrt(16))

4.0

This works pretty much exactly how it is read: from the math module, import the sqrt function. Let me explain it another way. We use Python’s from keyword to import the sqrt function from the math module. You can also use this method to import multiple functions from the math function:

In [25]:
from math import pi, sqrt

In this example, we import both pi and sqrt. If you tried to access pi you may have noticed that it’s actually a value and not a function that you can call. It just returns the value of pi. When you do an import, you may end up importing a value, a function or even another module

##Importing Everything

Python provides a way to import all the functions and values from a module as well. This is actually a bad idea as it can contaminate your namespace. A namespace is where all your variables live during the life of the program. So let’s say you have your own variable named sqrt,

In [26]:
from math import sqrt
sqrt = 5

#Functions

A function is a structure that you define. You get to decide if they have arguments or not. You can add keyword arguments and default arguments too. A function is a block of code that starts with the def keyword, a name for the function and a colon. Here’s a simple example:

In [28]:
def a_function():
    print("You just created a function!")

This function doesn’t do anything except print out some text. To call a function, you need to type out the name of the function followed by an open and close parentheses:

In [29]:
def a_function():
    print("You just created a function!")
a_function()

You just created a function!

###An Empty Function (the stub)

Sometimes when you are writing out some code, you just want to write the function definitions without putting any code in them. I’ve done this as kind of an outline. It helps you to see how your application is going to be laid out. Here’s an example:

In [30]:
def empty_function():
    pass

Here’s something new: the pass statement. It is basically a null operation, which means that when pass is executed, nothing happens.

##Passing Arguments to a Function

Now we’re ready to learn about how to create a function that can accept arguments and also learn how to pass said arguments to the function. Let’s create a simple function that can add two numbers together:

In [31]:
def add(a, b):
    return a + b

print(add(1, 2))

3

In [32]:
# You can also call the function by passing the name of the arguments:

def add(a, b):
    return a + b

result = add(a=2, b=3)
print(result)

total = add(b=4, a=5)
print(total)

5
9

##Keyword Arguments

Functions can also accept keyword arguments! They can actually accept both regular arguments and keyword arguments. What this means is that you can specify which keywords are which and pass them in

In [33]:
def keyword_function(a=1, b=2):
    return a+b

result = keyword_function(b=4, a=5)
print(result)

9

You could have also called this function without specifying the keywords. This function also demonstrates the concept of default arguments.

In [34]:
def keyword_function(a=1, b=2):
    return a+b

result = keyword_function()
print(result)

3